
{{!-- test section for my cards --}}


{{#each logoHBS}}


    <div class="card d-md-inline-flex d-flex align-items-center mt-5 ml-5 bg-dark" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title bg-info text-center rounded">{{name}}</h5>
    <p class="card-text bg-info text-center rounded">{{coach}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-info text-center border border-dark rounded">{{bestPlayer}}</li>
    <li class="list-group-item bg-info text-center border border-dark rounded">{{rings}}</li>
    
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

{{/each}}